### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
total_schools=len(school_data)
total_schools

15

In [3]:

total_students=len(student_data)
total_students

39170

In [4]:
total_budget_eq=school_data['budget']
total_budget=round(total_budget_eq.sum(),2).astype(float)
total_budget

24649428.0

In [5]:
avg_math=student_data['math_score']
avg_math_rate=round(avg_math.mean(),6)
avg_math_rate

78.985371

In [6]:
avg_read=student_data['reading_score']
avg_read_rate=round(avg_read.mean(),6)
avg_read_rate

81.87784

In [7]:
pass_math_id=student_data[student_data["math_score"]>=70]
stu_pass=pass_math_id['math_score'].count()
pass_math_pct=stu_pass/total_students * 100
pass_math_pct

74.9808526933878

In [8]:
pass_read_id=student_data[student_data["reading_score"]>=70]
stu_pass_rd=pass_read_id['reading_score'].count()
pass_read_pct=stu_pass_rd/total_students * 100
pass_read_pct

85.80546336482001

In [9]:
overall_pass_pct=((avg_read_rate + avg_math_rate)/2)
overall_pass_pct

80.4316055

In [10]:
District_summary_df = pd.DataFrame({
    'Total Schools':[total_schools],
    'Total Students':[total_students],
    'Total Budget':[total_budget],
    'Average Math Score':[avg_math_rate],
    'Average Reading Score':[avg_read_rate],
    '% Passing Math':[pass_math_pct],
    '% Passing Reading':[pass_read_pct],
    '% Overall Passing Rate':[overall_pass_pct]})

# District Summary

In [11]:
District_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428.0,78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [12]:
#merge two data frames
school_student= pd.merge(school_data, student_data, on ="school_name", how = "left")

In [13]:
#find budget per student
budget_per_student=school_data

budget_per_student['budget/student'] = budget_per_student['budget']/budget_per_student['size']

In [14]:
#find average math and reading score per school
avg_score_per_school= student_data.groupby('school_name')[['math_score','reading_score']].mean()

In [15]:
# merge budget pers student and approprately name average score colums for math and reading
add_avg_score_df=pd.merge(budget_per_student,avg_score_per_school, on ="school_name", how = "left")
add_avg_score_df.rename(columns={'reading_score':'avg_read_score','math_score':'avg_math_score'},inplace=True)

In [16]:
#determine students with passing reading and math scores per school
st_pass=school_student
st_pass['reading_pass']=st_pass.reading_score >= 70
st_pass['math_pass']=st_pass.math_score >=70

In [92]:
#find passing percentages for math and reading scores
pct_pass= st_pass.groupby('school_name')['math_pass','reading_pass'].mean()
pct_pass.math_pass=(pct_pass.math_pass*100)
pct_pass.reading_pass=(pct_pass.reading_pass*100)

c:\users\james\anaconda3\envs\pythondata\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [101]:
#find average passing scores for math and reading combined
pct_pass['avg_pass']=(pct_pass.math_pass + pct_pass.reading_pass)/2

In [102]:
#merge to create school summary database
school_summary=pd.merge(add_avg_score_df,pct_pass, on ="school_name", how = "left")

In [104]:
summary_df=school_summary.drop(['School ID'],axis=1)
summary_df.head(1)

,school_name,type,size,budget,budget/student,avg_math_score,avg_read_score,math_pass,reading_pass,avg_pass
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171

In [ ]:
summary_df.rename(columns={'school_name':'School Name','type':'School Type','size':'Total Students',\
                  'budget':'Total School Budget','budget/student':'Per Student Budget',\
                  'avg_math_score':'Average Math Score','avg_read_score':'Average Reading Score',\
                  'math_pass':'% Passing Math','reading_pass':'% Passing Reading','avg_pass':'% Overall Passing Rate'},inplace=True)

# School Summary

In [105]:
summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520

In [21]:
#reference for checking also look into df filters
#df.query("school_name == 'Bailey High School' and math_pass == True").count()

NameError: name 'df' is not defined

In [107]:
top5=summary_df.sort_values (by='% Overall Passing Rate',ascending=False)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [110]:
top5

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [ ]:
school_student.head()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [108]:
bottom5=summary_df.sort_values (by='% Overall Passing Rate',ascending=True).head(5)
bottom5

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [ ]:
school_grade_avg=school_student.groupby(['grade','school_name'])['reading_score'].mean()
school_grade_avg

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
i=pd.DataFrame(school_grade_avg)
i.pivot('grade')

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.